<div class="container">

  <div class="list-box">
    <div class="title">
      <h1>Todo List</h1>
    </div>

    <div class="line-break"></div>

    <div class="list">
      <% @todos.each do |item| %>
        <li>
          <span class='icon-beginning padding-icons'>
            <%# <i class="fa-regular fa-circle-check"></i> %>
          <%= item.title %></span>

          <span class='padding-small flex-movement'>- <%= item.description %>
            <span class='padding-icons'><%= link_to edit_todo_path(item) do %>
                    <i class="fa-regular fa-pen-to-square"></i>
                  <% end %>

                  <%= link_to item, data: {turbo_method: :delete } do %>
                    <i class="fa-solid fa-check"></i>
                  <% end %>

            </span>
          </span>
        </li>
      <% end %>

      <div class="buttons">
        <%= link_to 'New', new_todo_path %>
      </div>

    </div>
    <div class="line-break"></div>

  </div>
</div>
